# Data Type Assignment

#### 1. Sales Data Type Identification ####

In [12]:
sales = "12500"
returns = 320
rating = 4.6
is_active = True

sales = int(sales)

print(type(sales))
print(type(returns))
print(type(rating))
print(type(is_active))


processed_orders = sales - returns

print(processed_orders)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
12180

#### 2. Customer Age Segmentation

In [18]:
ages = [22.0, 34.7, 45.2, 29.9]

ages_int = [int(age) for age in ages]

age_new = [age >= 30 for age in ages_int]

print(ages_int)

[22, 34, 45, 29]

 #### 3. Product Code String Analysis

In [21]:
code = "FLP-ELC-45987"
 
new = code.split("-")

new
# returned the tring into a list form after splitting

['FLP', 'ELC', '45987']

In [23]:
extract = new[1]
extract

'ELC'

In [26]:
productid = int(new[2])
productid

45987

#### 4. Revenue Precision Handling

In [27]:
revenue = 15342.78965


rounded = round(revenue,2)

rounded_str = str(rounded)

print(rounded)
print(rounded_str)

15342.79
15342.79

#### 5. User Review Cleaning

In [33]:
review = "   food was AMAZING!!!   "

#Task: Remove extra spaces
#Convert to lowercase
#Replace multiple exclamation marks with a single !


review_cleaned = review.strip().lower()
review_cleaned = review_cleaned.replace('!!!','!')
print(review_cleaned)

food was amazing!

#### 6. Boolean Logic in Campaign Targeting

In [36]:
clicked_ad = True
purchase_made = False

retarget = clicked_ad and not purchase_made
print(retarget)

True

#### 7. Name Initial Extraction

In [40]:
name = "Tanaya Dutt"

split = name.split()
split

['Tanaya', 'Dutt']

In [41]:
initials = split[0][0] + "." + split[1][0]
initials

'T.D'

#### 8. Missing Value Identification

In [43]:
salary = None

if salary == None:
    salary = 0
    
print(salary)

0

#### 9. Log Message Slicing

In [46]:
log = "ERROR_2026_SERVER_DOWN"

log[11:]

'SERVER_DOWN'

#### 10. Numeric String Validation

In [3]:
txn_id = "458963"

txn_new = int(txn_id)
txn_new
type(txn_new)

int

#### 11. Percentage Calculation

In [5]:
completed = 35
total = 50

percentage = (completed/total) * 100
percentage

70.0

#### 12. Username Normalization

In [6]:
username = "  Tanaya_dutt2002  "

trim_username = username.strip()

In [7]:
trim_username

'Tanaya_dutt2002'

In [10]:
lower_username = trim_username.lower()
lower_username

'tanaya_dutt2002'

#### 13. Flag High Value Customer

In [12]:
spend = 135000
high_value = spend >130000
high_value

True

#### 14. Sentence Word Count

In [14]:
sentence = "data analytics drives business decisions"

count = len(sentence.split())
count

5

#### 15. Mixed Type Data Cleaning

In [16]:
data = ["4500", 3200, "1800", 2750]

data_int = [int(y) for y in data]
data_int

[4500, 3200, 1800, 2750]

#### 16. Password Strength Flag

In [3]:
password = "Data@123"

if len(password)>=8:
    print('Strong Password')

Strong Password

#### 17. ID Type Consistency Check

In [1]:
ids = ["101", "102", "103"]

ids = list(map(int, ids))

print(ids)

[101, 102, 103]

#### 18. Case Conversion for Reporting

In [2]:
department = "data analytics"

department.title()

'Data Analytics'

#### 19. Boolean From Numeric

In [3]:
flag = 1

bool(flag)

True

#### 20. Email Domain Extraction

In [4]:
email = "jay.amin@gmail.com"

domain = email.split("@")

In [5]:
domain

['jay.amin', 'gmail.com']

In [6]:
domain[1]

'gmail.com'