## Lists, Tuples and Sets

#### Task 1: Create and Inspect Sales Data

In [12]:
daily_sales = [2000, 3000, 2300, 4500, 5400]

print(len(daily_sales))
print(daily_sales[0])
print(daily_sales[4])
daily_sales[2] = 2200
print(daily_sales)

5
2000
5400
[2000, 3000, 2200, 4500, 5400]

#### Task 2: Clean Whitespace from Text Data

In [17]:
cities = [" Ahmedabad ", "Mumbai ", " Delhi", "Pune "]
cleaned = [item.strip() for item in cities]
print(cleaned)

['Ahmedabad', 'Mumbai', 'Delhi', 'Pune']

#### Task 3: Filter Invalid Entries

In [22]:
values = [41, 23, 17, 88, 73, None]

valid_values = [item for item in values if item is not None]

average = sum(valid_values)/len(valid_values)

print(average)

48.4

#### Task 4: Identify Duplicate Records

In [26]:
cust_ids = [1234, 2564, 2564, 3425, 3267, 6900, 1234]

len(cust_ids)

#count number of entries in the list

7

In [27]:
unique_cust_ids = list(set(cust_ids))
unique_cust_ids

#Removed duplicate Values

[3425, 3267, 2564, 1234, 6900]

#### Task 5: Index-Based Data Access

In [28]:
monthly_revenue = [10000, 21000, 12000, 23000, 14257, 35729, 46901, 35188, 35628, 79570, 34255, 12000 ]

q1_revenue = monthly_revenue[0:3]
last_two_revenue = monthly_revenue[11:]

print(q1_revenue)
print(last_two_revenue)

[10000, 21000, 12000]
[12000]

#### Task 6: Convert List to Tuple for Data Safety

In [29]:
employee = [1001, "Tanaya", "DA", 75000 ]

employee_tuple = tuple(employee)
print(employee_tuple)

(1001, 'Tanaya', 'DA', 75000)

In [30]:
employee_tuple[2] = "HR"
print(employee_tuple)

# tuples are immutuable

TypeError: 'tuple' object does not support item assignment

#### Task 7: Tuple Unpacking in Analytics

In [37]:
product = ("Ipad", 95000, 2)

product_name, price , quant = product

print(product_name)
print(price)
print(quant)

Ipad
95000
2

In [38]:
total_sales = price * quant
print(total_sales)

190000

#### Task 8: Nested List as Tabular Data

In [45]:
students = [[1, "Tanaya", 90],
           [2, "Nivaan", 99],
            [3,"Nirvik", 98]
           ]

students_names = [student[1] for student in students]

In [46]:
students_names

['Tanaya', 'Nivaan', 'Nirvik']

#### Task 9: Remove Duplicate Leads

In [49]:
email_ids = [
    "user1@gmail.com",
    "user2@gmail.com",
    "user1@gmail.com",
    "user1@gmail.com",
    "user2@gmail.com"
]

unique_emails = set(email_ids)

unique_email_list = list(unique_emails)

In [50]:
print(unique_email_list)

['user2@gmail.com', 'user1@gmail.com']

#### Task 10: Membership Testing Optimization

In [51]:
departments = ["HR", "Tech", "Marketing", "Administration", "Operations"]

if "IT" in departments:
    print("Department exists (List)")
else:
    print("Department not found (List)")

Department not found (List)

#### Task 11: Build Category Validator

In [53]:
statuses = {"pending", "shipped", "delivered", "cancelled"}

user_status = input("Enter order status: ")


if user_status in statuses:
    print("Valid order status")
else:
    print("Invalid order status")

Enter order status: cancelled
Valid order status

#### Task 12: Convert CSV Row to Tuple

In [55]:
csv_row = ["ORD123", "Tanaya", "Laptop", 97000, "cancelled"]

csv_tuple = tuple(csv_row)

print(csv_tuple)

('ORD123', 'Tanaya', 'Laptop', 97000, 'cancelled')