## 05Key-Value Data Handling for Data Analysis

####  Task 1: Student Profile Dictionary

In [9]:
student = {
  "id": 1001,
  "name": "Tanaya Dutt",
  "course": "Data Analysis",
  "fees_paid": False,
  "attendance_percent": 99
}
student

{'id': 1001,
 'name': 'Tanaya Dutt',
 'course': 'Data Analysis',
 'fees_paid': False,
 'attendance_percent': 99}

In [5]:
print(student['id'])
print(student['name'])
print(student['course'])
print(student['fees_paid'])
print(student['attendance_percent'])

1001
Tanaya Dutt
Data Analysis
False
99

#### Task 2: Access, Update & Delete

In [7]:
student.pop("fees_paid")
student["attendance_percent"]= 95
student["placement_status"] = 'Pending'

student

{'id': 1001,
 'name': 'Tanaya Dutt',
 'course': 'Data Analysis',
 'attendance_percent': 95,
 'placement_status': 'Pending'}

#### Task 3: Dictionary Methods

In [19]:
courses = {
  "Python": 3,
  "Excel": 1,
  "SQL": 2
}

print("Items:", courses.items())
print("Keys:", courses.keys())
print("Values:", courses.values())
print("Keys as list:", list(courses.keys()))

#used a variable and if statement to check of the variable is present in the dictionary or not. also used "in"

check = "PowerBI"

if check in courses:
    print(f"{check} exists in dictionary")
else:
    print(f"{check} not in dictionary")

Items: dict_items([('Python', 3), ('Excel', 1), ('SQL', 2)])
Keys: dict_keys(['Python', 'Excel', 'SQL'])
Values: dict_values([3, 1, 2])
Keys as list: ['Python', 'Excel', 'SQL']
PowerBI not in dictionary

#### Task 4: Safe Access Using get()

In [24]:
print(student.get("Experience","Experience : Not Available"))

Experience : Not Available

#### Task 5: Immutable Key Rule

In [26]:
courses[['Python']] #used a dict as a list

TypeError: unhashable type: 'list'

In [29]:
course = {
    
}

course[(1,2,3)] = "Tuple Key"
print("Tuple Key accepted successfully")

Tuple Key accepted successfully

#### Task 6: Dataset Creation

In [31]:
sales = [
 {'order_id': 1, 'customer': 'Rahul', 'city': 'Ahmedabad', 'amount': 5000, 'category': 'Electronics'},
 {'order_id': 2, 'customer': 'Neha', 'city': 'Delhi', 'amount': 8500, 'category': 'Clothing'},
 {'order_id': 3, 'customer': 'Aman', 'city': 'Ahmedabad', 'amount': 12000, 'category': 'Electronics'},
 {'order_id': 4, 'customer': 'Priya', 'city': 'Mumbai', 'amount': 3000, 'category': 'Clothing'},
 {'order_id': 5, 'customer': 'Ravi', 'city': 'Delhi', 'amount': 7000, 'category': 'Electronics'}
]

print("5 sales records loaded successfully")

5 sales records loaded successfully

#### Task 7: Revenue Calculations

In [44]:
total_revenue = sum(item['amount'] for item in sales)
print("Total Revenue:",total_revenue)

average = total_revenue/len(sales)
print("Average Order Value:",average)

Total Revenue: 35500
Average Order Value: 7100.0

#### Task 8: Filtering Data

In [60]:
filtereddata = {}
filtereddata = [
    a for a in sales if a['amount'] > 5000
]

In [61]:
print(filtereddata)

[{'order_id': 2, 'customer': 'Neha', 'city': 'Delhi', 'amount': 8500, 'category': 'Clothing'}, {'order_id': 3, 'customer': 'Aman', 'city': 'Ahmedabad', 'amount': 12000, 'category': 'Electronics'}, {'order_id': 5, 'customer': 'Ravi', 'city': 'Delhi', 'amount': 7000, 'category': 'Electronics'}]

In [62]:
filtereddata1 = [
    place for place in sales if place['city'] == "Ahmedabad"
]

In [63]:
print(filtereddata1)

[{'order_id': 1, 'customer': 'Rahul', 'city': 'Ahmedabad', 'amount': 5000, 'category': 'Electronics'}, {'order_id': 3, 'customer': 'Aman', 'city': 'Ahmedabad', 'amount': 12000, 'category': 'Electronics'}]

#### Task 9: Category-Wise Sales

In [65]:
Category_sum = sum(item['amount'] for item in sales if item['category'] == 'Electronics')
Category_sum2 = sum(item['amount'] for item in sales if item['category'] == 'Clothing')
print(Category_sum)
print(Category_sum2)

24000
11500

In [66]:
# Alternative Method
category_totals = {}

for item in sales:
    category = item['category']
    amount = item['amount']

    if category in category_totals:
        category_totals[category] += amount
    else:
        category_totals[category] = amount

print(category_totals)

{'Electronics': 24000, 'Clothing': 11500}

#### Task 10: Add discounted_amount

In [70]:
for order in sales:
    order['discounted_amount'] = int(order['amount'] * 0.9)

sales

[{'order_id': 1,
  'customer': 'Rahul',
  'city': 'Ahmedabad',
  'amount': 5000,
  'category': 'Electronics',
  'discounted_amount': 4500},
 {'order_id': 2,
  'customer': 'Neha',
  'city': 'Delhi',
  'amount': 8500,
  'category': 'Clothing',
  'discounted_amount': 7650},
 {'order_id': 3,
  'customer': 'Aman',
  'city': 'Ahmedabad',
  'amount': 12000,
  'category': 'Electronics',
  'discounted_amount': 10800},
 {'order_id': 4,
  'customer': 'Priya',
  'city': 'Mumbai',
  'amount': 3000,
  'category': 'Clothing',
  'discounted_amount': 2700},
 {'order_id': 5,
  'customer': 'Ravi',
  'city': 'Delhi',
  'amount': 7000,
  'category': 'Electronics',
  'discounted_amount': 6300}]

#### Task 11: Table-Like Output

In [71]:
print("OrderID | Customer | City       | Amount")
print("-" * 40)

for order in sales:
    print(f"{order['order_id']:<7} | {order['customer']:<8} | {order['city']:<10} | {order['amount']}")

OrderID | Customer | City       | Amount
----------------------------------------
1       | Rahul    | Ahmedabad  | 5000
2       | Neha     | Delhi      | 8500
3       | Aman     | Ahmedabad  | 12000
4       | Priya    | Mumbai     | 3000
5       | Ravi     | Delhi      | 7000

#### Task 12: Update Comparison

In [79]:
sales[0]['customer'] = 'Rahul'

In [80]:
sales[1].update({'customer':'Tanaya'})

In [81]:
for order in sales:
    print(order['customer'])

Rahul
Tanaya
Aman
Priya
Ravi

 #### Task 16: Pivot-Like Summary

In [84]:
summary = {}

for order in sales:
    category = order['category']
    amount = order['amount']
    
    if category not in summary:
        summary[category] = {
            'order_count' :0,
            'total' : 0
        }
        
    summary[category]['order_count'] += 1
    summary[category]['total'] += amount

In [86]:
for category in summary:
    summary[category]['average'] = (
    summary[category]['total']//summary[category]['order_count']
    )

In [87]:
summary

{'Electronics': {'order_count': 3, 'total': 24000, 'average': 8000},
 'Clothing': {'order_count': 2, 'total': 11500, 'average': 5750}}

####  Task 20: KPI Generator

In [92]:
city_total = {}
categorys_total = {}
top_cust = ''
max_amt = 0

for order in sales:
    city = order['city']
    category = order['category']
    customer = order['customer']
    amount = order['amount']
    
    city_total[city] = city_total.get(city, 0) + amount
    
    categorys_total[category] = categorys_total.get(category, 0) + amount

    if amount > max_amt:
        max_amt = amount
        top_cust = customer
        
kpi = {
    'top_city': max(city_total, key=city_total.get),
    'top_category': max(categorys_total, key=categorys_total.get),
    'top_customer': top_cust
}

kpi

{'top_city': 'Ahmedabad',
 'top_category': 'Electronics',
 'top_customer': 'Aman'}