## 07Data Output Formatting in Python

#### Task 1: Simple Print Formatting

In [4]:
name = "Tanaya Dutt"
course = "Analytics"
fees = "40000"

print(f"Student name : {name}")
print(f"Course : {course}")
print(f"Fees : {fees}")

Student name : Tanaya Dutt
Course : Analytics
Fees : 40000

#### Task 2: Comma-Separated Output

In [9]:
print(f"Name :", name ,",", "Course :", course)

Name : Tanaya Dutt , Course : Analytics

#### Task 3: String Concatenation

In [10]:
print(f"{name} has been enrolled in {course} course")

Tanaya Dutt has been enrolled in Analytics course

 #### Task 4: Escape Characters

In [20]:
print(f"Name:{name}\n Course:{course}\n Fees:{fees}")

Name:Tanaya Dutt
 Course:Analytics
 Fees:40000

#### Task 5: f-String Basics

In [25]:
amount = 30000.457

print(f"Total Amount :{amount}")

Total Amount :30000.457

#### Task 6: Decimal Formatting

In [26]:
print(f"Total Amount : {amount:.2f}")

Total Amount : 30000.46

#### Task 7: Thousand Separator

In [29]:
revenue = 253618639
print(f"Total Revenue : {revenue:,}")

Total Revenue : 253,618,639

#### Task 8: format() Method

In [32]:
employee = "Amol Parikh"
salary = 50000

print("Employee : {} | Salary : {}".format(employee,salary))

Employee : Amol Parikh | Salary : 50000

#### Task 9: Indexed format()

In [35]:
print("Employee : {1} | Salary : {0}".format(salary,employee))

Employee : Amol Parikh | Salary : 50000

#### Task 10: Fixed-Width Alignment

In [2]:
data = [
    ("Amit", 45000),
    ("Neha", 52000),
    ("Rahul", 61000)
]

for name, salary in data:
    print("{:<10} {:>8}".format(name, salary))

Amit          45000
Neha          52000
Rahul         61000

#### Task 11: Right-Aligned Numbers

In [3]:
data = [
    ("Amit", 45000),
    ("Neha", 52000),
    ("Rahul", 61000)
]

print("{:<10} {:>6}".format("Name", "Fees"))

for name, fees in data:
    print("{:<10} {:>6}".format(name, fees))

Name         Fees
Amit        45000
Neha        52000
Rahul       61000

#### Task 12: Percentage Formatting

In [4]:
progress = 0.875
print("Completion: {:.2%}".format(progress))

Completion: 87.50%

#### Task 13: Print Nested Dictionary Normally

In [5]:
#Nested Dictionary
data = {
    'id': 1,
    'name': 'Amit',
    'skills': {
        'python': 'advanced',
        'sql': 'intermediate'
    }
}

print(data)

{'id': 1, 'name': 'Amit', 'skills': {'python': 'advanced', 'sql': 'intermediate'}}

#### Task 16: Report Header Formatting

In [6]:
title = "SALES REPORT"
print(title.center(30, "="))

=========SALES REPORT=========

#### Task 17: Dynamic Row Formatting

In [7]:
orders = [
    {'order_id': 1, 'city': 'Ahmedabad', 'amount': 5000},
    {'order_id': 2, 'city': 'Delhi', 'amount': 8500},
    {'order_id': 3, 'city': 'Mumbai', 'amount': 12000}
]

print("{:<7} | {:<10} | {:>6}".format("OrderID", "City", "Amount"))

for order in orders:
    print("{:<7} | {:<10} | {:>6}".format(
        order['order_id'],
        order['city'],
        order['amount']
    ))

OrderID | City       | Amount
1       | Ahmedabad  |   5000
2       | Delhi      |   8500
3       | Mumbai     |  12000

#### Task 18: Conditional Formatting (Text)

In [11]:
orders = [
    {'order_id': 1, 'category': 'Electronics', 'amount': 5000},
    {'order_id': 2, 'category': 'Clothing', 'amount': 8500},
    {'order_id': 3, 'category': 'Electronics', 'amount': 12000}
]

for order in orders:
    status = "HIGH" if order['amount'] >= 8000 else "NORMAL"
    print("{:<7} | {:<10} | {:>6} | {:<6}".format(
        order['order_id'],
        order['city'],
        order['amount'],
        status
    ))

KeyError: 'city'

#### Task 19: Summary Footer

In [9]:
total = sum(order['amount'] for order in orders)
average = total / len(orders)


print("-" * 29)
print("{:<16} : {:>7}".format("Total Revenue", total))
print("{:<16} : {:>7.2f}".format("Average Order", average))

-----------------------------
Total Revenue    :   25500
Average Order    : 8500.00

####  Task 20: Complete Console Report

In [13]:
orders = [
    {'order_id': 1, 'category': 'Electronics', 'amount': 5000},
    {'order_id': 2, 'category': 'Clothing', 'amount': 8500},
    {'order_id': 3, 'category': 'Electronics', 'amount': 12000}
]
total_orders = len(orders)
total_revenue = sum(order['amount']for order in orders)
average_order =  total_revenue / total_orders

category_summary = {}
for order in orders:
    category = order['category']
    category_summary[category] = category_summary.get(category,0) + order['amount']
    
print(f"{'SALES SUMMARY':=^33}")


print(f"{'Total Orders':<15} : {total_orders}")
print(f"{'Total Revenue':<15} : {total_revenue}")
print(f"{'Average Order':<15} : {average_order:.2f}")

print("\nCategory Summary:")
print(category_summary)

==========SALES SUMMARY==========
Total Orders    : 3
Total Revenue   : 25500
Average Order   : 8500.00

Category Summary:
{'Electronics': 17000, 'Clothing': 8500}