## 08Decision Making in Python

####  Task 1: Simple Pass / Fail Check

In [1]:
marks = 72

if marks >= 40:
    print("Pass")
else:
    print("Fail")

Pass

#### Task 2: Even or Odd Number

In [2]:
number = 34

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

#### Task 3

In [3]:
num = -1

if num < 0:
    print("Number is Negative")
else:
    print("Number is Positive")

Number is Negative

#### Task 4

In [4]:
username = "Tanaya123"
password = "45268"

if username and password:
    print("Login Successful")
else:
    print("Invalid user")

Login Successful

#### Task 5

In [5]:
marks = 78

if marks >= 90:
    print("A")
elif marks >= 75:
    print("B")
elif marks >= 60:
    print("C")
elif marks >= 40:
    print("D")
else:
    print("F")

B

#### Task 6

In [6]:
age = 23

if age >= 18:
    print("Adult")
else:
    print("Child")

Adult

#### Task 7

In [7]:
amount = 8500

if amount >= 10000:
    new_amt = amount * 0.2
    print("Discount Applied")
elif amount >= 5000:
    new_amt = amount * 0.1
    print('Discount Applied")
    
else:
    print("No Discount")

SyntaxError: unterminated string literal (detected at line 8) (393675805.py, line 8)

#### Task 8: Electricity Bill Calculation

#### Task 9: Loan Eligibility

In [8]:
#Loan Approved 

salary = 75000
credit_score = 760

if salary >= 30000 and credit_score >=700:
    print("Loan Approved")
else:
    print("Not Eligible for loan")

Loan Approved

#### Task 11: Salary Hike Logic

In [9]:
rating = 4.3
salary = 24000

if rating >= 4.5:
    salary = salary + salary * 0.2
    print(salary)
elif rating >= 4:
    salary = salary + salary * 0.1
    print(salary)
else:
    print("No Hike")

26400.0

 #### Task 12: Shopping Free Delivery

In [10]:
prime_member = True
order_amount = 2000

if prime_member or order_amount >= 1000:
    print("Eligible for Free Delivery")
else:
    print("No Free Delivery")

Eligible for Free Delivery

#### Task 13: Multiple Discount Rules

In [11]:
# #Task:
# Apply discount:

# Electronics + amount ≥ 10000 → 25%
# Clothing + amount ≥ 5000 → 15%
# Otherwise → 5%

product_category = "Clothing"
amount = 5500

if product_category == "Electronics":
    amount = amount - amount * 0.25
    print(amount)
elif product_category == "Clothing":
    amount = amount - amount * 0.15 
    print(amount)
else:
    amount = amount - amount * 0.05
    print(amount)

4675.0

#### Task 14: Performance Bonus System

In [12]:
# Bonus rules:

# Experience ≥ 5 years AND rating ≥ 4 → 15000
# Experience ≥ 3 years → 8000
# Else → 3000

salary = 25000
experience = 4

if experience >= 5:
    salary = salary + 15000
elif experience >= 3:
    salary = salary + 8000
else:
    salary = salary + 3000
    
print(salary)

33000

#### Task 15: Attendance Warning System

In [14]:
# Task:

# Attendance < 60 → Warning
# Attendance < 40 → Blacklist

attendance = 59

if attendance < 60:
    print("Warning")
elif attendance < 40:
    print("Blacklist")
else:
    print("Safe")

Warning

#### Task 16: Tax Slab Calculation

In [33]:
# Calculate tax based on income slabs.

income = 236110

if income >= 100000:
    total_tax = income * 0.18
else:
    total_tax = income * 0.15
    
print(round(total_tax))

42500

#### Task 17: Nested Validation Engine

In [34]:
# Task:
# Validate record:

# ID exists
# Amount > 0
# Status = "Active"

ID = True
amount = 2000
status = "Active"

if ID and amount > 0 and status == "Active":
    print("Record Validated Successfully")
else:
    print("Record not Validated")

Record Validated Successfully

#### Task 18: Student Evaluation System

In [36]:
# Determine:

# Pass/Fail
# Grade
# Scholarship eligibility

marks = 79
grade = 0
if marks >= 90:
    grade = "A"
    print("Eligible for Scholarship")
elif marks >= 80:
    grade = "B"
    print("Eligible for Scholarship")
elif marks >= 70:
    grade = "C"
    print("Eligible for Scholarship")
else: 
    print("Fail")

print(grade)

Eligible for Scholarship
C

#### Task 19: Employee Payroll Decision Engine

In [38]:
basic_salary = 60000
deduction = 5000

if deduction > 0:
    gross_salary = basic_salary + deduction
    net_salary = gross_salary - deduction
else:
    gross_salary = basic_salary
    net_salary = basic_salary

salary_details = {
    'gross_salary': gross_salary,
    'deduction': deduction,
    'net_salary': net_salary
}

print(salary_details)

{'gross_salary': 65000, 'deduction': 5000, 'net_salary': 60000}

#### Task 20: Real-World Order Processing Logic

In [42]:
amount = 8500
is_premium_customer = True
is_urgent = True


if amount >= 5000:
    discount = "10%"
else:
    discount = "0%"

if is_premium_customer:
    delivery = "Free"
else:
    delivery = "Paid"

if is_urgent:
    priority = "High"
else:
    priority = "Normal"

result = {
    'discount': discount,
    'delivery': delivery,
    'priority': priority
}

print(result)

{'discount': '10%', 'delivery': 'Free', 'priority': 'High'}