## 09Iteration Techniques in Python

#### Task 1: Simple for Loop

In [1]:
a = [1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

#### Task 2: Using range()

In [5]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

#### Task 3: Loop Over List

In [6]:
courses = ['Python','SQL','Power BI','Excel']

for course in courses:
    print(course)

Python
SQL
Power BI
Excel

#### Task 4: Sum of Numbers

In [11]:
total = 0
for num in range(1, 11):
    total += num
    print(total)

1
3
6
10
15
21
28
36
45
55

#### Task 5 : While loop basics

In [13]:
num = 1

while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

#### Task 6: Loop with condition

In [18]:
nums = [1,3,5,6,7,8,9,10]

for num in nums:
    if num > 5:
        print(num)

6
7
8
9
10

#### Task 7: Using enumerate()

In [ ]:
courses = ['Python','SQL','Power BI','Excel']

for index, value in enumerate(courses):
    print(index, value)

#### Task 8: break Statement

In [5]:
number = 1
while True:
    if number == 5:
        print("Loop Stopped")
        break
    print(number)
    number += 1

1
2
3
4
Loop Stopped

#### Task 9: continue Statement

In [1]:
num = 1

while num <= 10:
    if num == 5:
        num += 1
        continue
    print(num)
    num += 1

1
2
3
4
6
7
8
9
10

#### Task 10 : Counting Logic

In [6]:
value = [1000,4000,7000,9000,11000]

count = 0

for val in value:
    if val >= 5000:
        count += 1

print(count)

3

#### Task 11: Basic List Comprehension

In [7]:
squares = []

for i in range(1,6):
    squares.append(i * i)
    
print(squares)

[1, 4, 9, 16, 25]

#### Task 12: Conditional List Comprehension

In [13]:
even_num = []

for i in range (1,11):
    if i % 2 == 0:
        even_num.append(i)
    
print(even_num)

[2, 4, 6, 8, 10]

#### Task 13: String Transformation

In [18]:
print([course.upper() for course in courses])

['PYTHON', 'SQL', 'POWER BI', 'EXCEL']

####  Task 14: Data Filtering

In [21]:
amounts = [10000, 38270, 2000, 1820, 46370]

new_amounts = []

for amount in amounts:
    if amount >= 7000:
        new_amounts.append(amount)
    
print(new_amounts)

[10000, 38270, 46370]

#### Task 15: Nested List Comprehension

In [22]:
nested_list = [[1, 2, 3], [4, 5, 6]]

new_list = [num for sublist in nested_list for num in sublist]

print(new_list)

[1, 2, 3, 4, 5, 6]

#### Task 16: Row-Based Data Processing

In [23]:
orders = [
    {'order_id': 1, 'city': 'Ahmedabad', 'amount': 5000},
    {'order_id': 2, 'city': 'Delhi', 'amount': 8500},
    {'order_id': 3, 'city': 'Mumbai', 'amount': 12000}
]

for order in orders:
    print("Order", order['order_id'], "|", order['city'], "|", order['amount'])

Order 1 | Ahmedabad | 5000
Order 2 | Delhi | 8500
Order 3 | Mumbai | 12000

#### Task 17: Running Total Calculation

In [24]:
orders = [4500, 9500, 11100]

total = 0

for i in range(len(orders)):
    total += orders[i]
    print("After Order", i + 1, ":", total)

After Order 1 : 4500
After Order 2 : 14000
After Order 3 : 25100

#### Task 18: Search Operation

In [25]:
orders = [7000, 8500, 10000]

for amount in orders:
    if amount > 8000:
        print("Order Found:", amount)
        break

Order Found: 8500

#### Task 19: Validation Loop

In [28]:
amounts = [4500, 7600, -2000, 72000]

for amount in amounts:
    if amount < 0:
        print("Skipped Invalid Entry")
        continue
    print("Valid Amount:", amt)

Valid Amount: 72000
Valid Amount: 72000
Skipped Invalid Entry
Valid Amount: 72000

 #### Task 20: Performance Comparison

In [33]:
amounts = [5000, 8300, 11000,3400, 7600, 9000]

filtered= [amt for amt in amounts if amt > 8000]

print(filtered)

[8300, 11000, 9000]

#### Task 21: Mini Analytics Processor

In [36]:
amounts = [7000, 8000, -2000, 25000]

total = 0
count = 0
highest = 0

for amount in amounts:
    if amount < 0:       
        continue

    total += amount
    count += 1

    if amount > highest:
        highest = amount

average = total / count

result = {
    'total': total,
    'average': average,
    'highest': highest
}

print(result)

{'total': 40000, 'average': 13333.333333333334, 'highest': 25000}